In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(
{"A": ['A0', 'A1', 'A2', 'A3'],
"B": ['B0', 'B1', 'B2', 'B3'],
"C": ['C0', 'C1', 'C2', 'C3'],
"D": ['D0', 'D1', 'D2', 'D3'],
})

df2 = pd.DataFrame(
{
"A": ['A4', 'A5', 'A6', 'A7'],
"B": ['B4', 'B5', 'B6', 'B7'],
"C": ['C4', 'C5', 'C6', 'C7'],
"D": ['D4', 'D5', 'D6', 'D7'],
})

In [3]:
pd.concat([df2, df1], ignore_index=True) # respeta y organiza los indices

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7
4  A0  B0  C0  D0
5  A1  B1  C1  D1
6  A2  B2  C2  D2
7  A3  B3  C3  D3

In [4]:
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

### Merge

In [5]:
izq = pd.DataFrame({'key': ['k0', 'k1', 'k2', 'k3'],
'a': ['a0', 'a1', 'a2', 'a3'],
'b': ['b0', 'b1', 'b2', 'b3']
})

der = pd.DataFrame({'key': ['k0', 'k1', 'k2', 'k3'],
'c': ['c0', 'c1', 'c2', 'c3'],
'd': ['d0', 'd1', 'd2', 'd3']
})

In [6]:
izq.merge(der, on='key')

  key   a   b   c   d
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1
2  k2  a2  b2  c2  d2
3  k3  a3  b3  c3  d3

In [7]:
izq = pd.DataFrame({'key': ['k0', 'k1', 'k2', 'k3'],
'a': ['a0', 'a1', 'a2', 'a3'],
'b': ['b0', 'b1', 'b2', 'b3']
})

der = pd.DataFrame({'key_2': ['k0', 'k1', 'k2', 'k3'],
'c': ['c0', 'c1', 'c2', 'c3'],
'd': ['d0', 'd1', 'd2', 'd3']
})

In [8]:
izq.merge(der, left_on='key', right_on='key_2')

  key   a   b key_2   c   d
0  k0  a0  b0    k0  c0  d0
1  k1  a1  b1    k1  c1  d1
2  k2  a2  b2    k2  c2  d2
3  k3  a3  b3    k3  c3  d3

In [9]:
izq = pd.DataFrame({'key': ['k0', 'k1', 'k2', 'k3'],
'a': ['a0', 'a1', 'a2', 'a3'],
'b': ['b0', 'b1', 'b2', 'b3']
})

der = pd.DataFrame({'key_2': ['k0', 'k1', 'k2', np.nan],
'c': ['c0', 'c1', 'c2', 'c3'],
'd': ['d0', 'd1', 'd2', 'd3']
})

In [13]:
izq.merge(der, left_on='key', right_on='key_2', how='right') # how = 'inner' es el default

   key    a    b key_2   c   d
0   k0   a0   b0    k0  c0  d0
1   k1   a1   b1    k1  c1  d1
2   k2   a2   b2    k2  c2  d2
3  NaN  NaN  NaN   NaN  c3  d3

### Join - Index match

In [14]:
izq = pd.DataFrame({'A': ['A0','A1','A2'],
  'B':['B0','B1','B2']},
  index=['k0','k1','k2'])

der =pd.DataFrame({'C': ['C0','C1','C2'],
  'D':['D0','D1','D2']},
  index=['k0','k2','k3'])

In [16]:
izq.join(der, how='inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1

In [19]:
izq.join(der, how='left')

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [18]:
izq.join(der, how='right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

In [17]:
izq.join(der, how='outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=4950ccd9-74b8-4ba2-b588-82894596c11f' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>